name: Release

on:
  push:
    branches:
      - main
      - 'release/**'

jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

      - name: Push changelog
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(release): update changelog [skip ci]"
          file_pattern: "CHANGELOG.md package.json"
          branch: main
          commit_user_name: github-actions[bot]
          commit_user_email: github-actions[bot]@users.noreply.github.com

          # FOR FTP TO GoDaddy
      # - name: Build Project
      #   run: npm run build

      # - name: FTP Deploy
      #   uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      #   with:
      #     server: ${{ secrets.FTP_SERVER }}
      #     username: ${{ secrets.FTP_USERNAME }}
      #     password: ${{ secrets.FTP_PASSWORD }}
      #     protocol: ftps
      #     local-dir: ./dist/
      #     server-dir: /public_html/

